table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

h1 {

	color: black;
	background-color: grey;
}

#red{
	color: rgb(255,25,200);
	font-family: "Courier New", monospace;
	font-size: 35px;
}

a:hover{
	color: red;
}

#main_header{
	color: brown;
	background-color: grey;
}